# Ignore macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/

# Build output
dist/
build/
client_secret_226570039199-at7gahvb32s2cg4b1f6eeslapg8ui6hu.apps.googleusercontent.com.json
